<div class="form-group">
    <label>
        Typ
    </label>
    <select class="form-control" id="sel-type"></select>
</div>
<div class="form-group">
    <label>
        Eingabe
    </label>
    <input type="text" value="abcabacba" class="form-control" id="text-input">
</div>

<div class="form-group">
    <label>
        Ausgabe
    </label>
    <select class="form-control" id="sel-output">
        <option value="step">Schrittweise</option>
        <option value="interval500">Schrittweise(0.5 Sekunde Pause)</option>
        <option value="interval1000">Schrittweise(1 Sekunde Pause)</option>
        <option value="interval3000">Schrittweise(3 Sekunde Pause)</option>
    </select>
</div>

<div id="output"></div>

<div class="row">
    <div class="col-sm-6">
        <a href="javascript:;" id="bt-reset" class="btn btn-danger btn-block">Zurücksetzen</a>
    </div>
    <div class="col-sm-6">
        <a href="javascript:;" id="bt-step" class="btn btn-success btn-block">Schritt</a>
    </div>
</div>