<div class="form-group">
    <label>
        Typ
    </label>
    <select class="form-control" id="sel-type">
        <option value="palindrom">Erkennung einer Palindromsprache</option>
    </select>
</div>
<div class="form-group">
    <label>
        Eingabe
    </label>
    <input type="text" value="abcabacba" class="form-control" id="text-input">
</div>

<div id="output"></div>

<div class="row">
    <div class="col-sm-6">
        <a href="javascript:;" id="bt-reset" class="btn btn-danger btn-block">Zurücksetzen</a>
    </div>
    <div class="col-sm-6">
        <a href="javascript:;" id="bt-step" class="btn btn-success btn-block">Schritt</a>
    </div>
</div>